body{
  background-color: lightblue;
}
.div1{
  height: 50vh;
  width: auto;
  background-color: red;
}
.div2{
  height: 50vh;
  width: auto;
  background-color: orange;
}
.div3{
  height: 50vh;
  width: auto;
  background-color: yellow;
}
.div4{
  height: 50vh;
  width: auto;
  background-color: green;
}
.div5{
  height: 50vh;
  width: auto;
  background-color: blue;
}
.div6{
  height: 50vh;
  width: auto;
  background-color: purple;
}
